* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

.App {
  text-align: center;
}


.dashboardContainer button{
  display: flex;
  margin: .25em auto;
  width: 50%;
  max-width: 444px;
}

/* CSS for LogIn.js*/
.dashContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  min-height: 150px;
  max-height: 190px;
  width: 50%;
  max-width: 500px;
  margin: 0 auto;
  
}

.input{
  margin: 1em;
}

/* CSS for the Controls.js and imported Components */
.controlPanel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 75vw;
  margin: 3em auto;

}

.controls {
  text-align: center;
  width: 25%;
  max-width: 250px;
  background: white;
  box-shadow: 2px 3px 5px rgba(38, 39, 46, 0.199), -2px -3px 5px rgba(255, 255, 255, 0.815);
  padding: 1em;
}
